 <li class="nav-item active">
    <%= link_to "Home", root_path, class: "nav-link" %>
 </li>
  <li class="nav-item">
  	<%= link_to "About", pages_about_path, class: "nav-link"  %>
  </li>
  <li class="nav-item">
  <%= link_to "Legal", pages_legal_path, class: "nav-link"  %>
  </li>
  <li class="nav-item">
  <%= link_to "Schools", schools_path, class: "nav-link"  %>
  </li>
  <li class="nav-item">
  <%= link_to "Classrooms", classrooms_path, class: "nav-link"  %>
  </li>
  <li class="nav-item">
  <%= link_to "Students", students_path, class: "nav-link"  %>
  </li>

 <!-- 
 <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
 </li>
  -->